<!doctype html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
        <!-- <link rel="stylesheet" type="text/css" href="bower_components/ng-tags-input/ng-tags-input.bootstrap.css"> -->
        <link rel="stylesheet" type="text/css" href="bower_components/ng-tags-input/ng-tags-input.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-app="weatherApp" class="ng-cloak">
        <div class="" ng-controller="cityCtrl">
            <div class="container" id="header">
                <tags-input ng-model="cities" on-tag-added="getTag($tag)" on-tag-removing="removeTag($tag)" placeholder="Enter a city"></tags-input>
            </div>
            <div class="container">
                <!-- {{weatherReport | json}} -->
                <div ng-repeat="weather in weatherReport" class="col-md-4">
                    <div class="panel panel-default weather-panel" ng-if="weatherReport.length > 0" >
                        <div class="panel-body">

                            <div class="col-md-4 col-sm-4 location">
                                <h4 class="city">{{weather.name | limitTo:12}}</h4>
                                <p>{{date | date:'MMM d'}}</p>
                            </div>

                            <div class="col-md-4 col-sm-4 text-center" ng-show="weather.main.temp">
                                <h2 class="temp">{{weather.main.temp - 273.15 | number:1}}</h2><span class="unit"><sup>&deg;C</sup></span>
                                <p>{{weather.weather[0].description | capitalize}}</p>
                            </div>

                            <div class="col-md-4 col-sm-4 conditions">   
                                <div class="pull-right">
                                    <p>Humidity: {{weather.main.humidity}}%</p>
                                    <p>Wind: {{weather.wind.speed}} km/h</p>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </body>

    <!-- Library Scripts -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>

    <!-- Application Scripts -->
    <script src="scripts/app.js"></script> 
    <script src="scripts/services/weather.js"></script>    
    <script src="scripts/controllers/city-controller.js"></script>
    <script src="scripts/filters/capitalize.js"></script>
</html> 